@model IEnumerable<UserViewModel>
@{
	ViewData["Title"] = "Index";
}

<h1>Users</h1>


<a class="btn btn-primary mt-2" asp-area="Identity" asp-page="/Account/RegisterSpecial">Add New User</a>

<table class="table table-striped mt-4">
	<thead>
		<tr class="bg-primary text-white">
			<th class="text-white">F-L Name</th>
			<th class="text-white">Profile Pic</th>
			<th class="text-white">
				<a asp-action="Index" asp-route-sortOrder="@ViewData["UserNameSortParm"]" class="text-decoration-none text-white">@Html.DisplayNameFor(model => model.UserName)</a>
			</th>
			<th class="text-white">Email Name</th>
			<th class="text-white">
				<a asp-action="Index" asp-route-sortOrder="@ViewData["WalletScoreSortParm"]" class="text-decoration-none text-white">@Html.DisplayNameFor(model => model.userWallet.Score)</a>
			</th>
			<th class="text-white">
				<a asp-action="Index" asp-route-sortOrder="@ViewData["WalletAmountSortParm"]" class="text-decoration-none text-white">@Html.DisplayNameFor(model => model.userWallet.Amount)</a>
			</th>
			<th class="text-white">Roles</th>
			@if (User.IsInRole(Roles.Role_Manager))
			{
				<th class="text-white">Actions</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>@(user.FirstName + " " + user.LastName)</td>
				@{
					string imageSrc = user.ProfilePicture != null
					? $"data:image/*;base64,{Convert.ToBase64String(user.ProfilePicture)}"
					: Url.Content("~/images/Default_img.png");
				}
				<td><img class="avatar rounded-circle" alt="Logo" src="@imageSrc" class="" /></td>
				<td>
					@Html.DisplayFor(modelItem => user.UserName)
				</td>
				<td>@user.Email</td>
				<td>
					@Html.DisplayFor(modelItem => user.userWallet.Score)
				</td>
				<td>
					@Html.DisplayFor(modelItem => user.userWallet.Amount)
				</td>
				<td>@string.Join(" , ", @user.Roles.ToList())</td>
				@if (User.IsInRole(Roles.Role_Manager))
				{
					<td><a asp-controller="Users" asp-action="ManageRoles" asp-route-userId="@user.Id" class="btn btn-warning"> Edit User Role</a></td>
				}
			</tr>
		}
	</tbody>
</table>
