@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<a asp-action="Add" class="btn btn-primary mt-2">Add New Category</a>

<table class="table table-striped mt-4">
	<thead>
	<tr class="bg-primary text-white">
		<th>Id</th>
		<th>Name</th>
		<th>Logo</th>
		<th>Number of Products</th>
		<th>Action</th>
	</tr>
	</thead>
	<tbody>
	@{var productsPerCategory = ViewData["ProductsPerCategory"] as Dictionary<int, int>;}
	@foreach (var category in Model)
	{
		<tr>
			<td>@category.Id</td>
			<td><b>@category.Name</b></td>
			@{
				// For Category Logo
				string CateogryImg = @category.Logo != null
					? $"data:image/*;base64,{Convert.ToBase64String(@category.Logo)}"
					: Url.Content("~/images/Default_img.png");
				// For Number of Products in Category
				int productCount = 0;
				if (productsPerCategory != null && productsPerCategory.ContainsKey(category.Id))
					productCount = productsPerCategory[category.Id];
			}
				<td><img class="avatar rounded" style="width: 45px; height: 45px " alt="Logo" src=@CateogryImg class="img-fluid" /></td>
			<td>
				<b>@productCount</b>
				<a asp-controller="Products" asp-action="FilterByCategory" asp-route-categoryId="@category.Id" class="btn btn-outline-info ms-3">Show Products</a>
			</td>
			<td>
				<a asp-controller="Categories" asp-action="Update" asp-route-categoryId="@category.Id" class="btn btn-outline-warning ms-1">Edit</a>
				<a asp-controller="Categories" asp-action="Remove" asp-route-categoryId="@category.Id" class="btn btn-outline-danger deleteCategory" data-path="@Url.Action("Remove", "Categories", new { categoryId = category.Id })">Delete</a>
			</td>
		</tr>
	}
	</tbody>
</table>



@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<partial name="_DeleteWarningPartial"/>

	<script type="text/javascript">
        var pathToDelete;

        // Event delegation for dynamically created elements
        $(document).on("click", ".deleteCategory", function (e) {
            e.preventDefault(); // Prevent default action of the link
            pathToDelete = $(this).data('path'); // Get the URL from data-path attribute
            $(".modal").modal('show'); // Show the modal dialog
        });

        // Handle delete confirmation button
        $("#btnContinueToDelete").click(function () {
            window.location.href = pathToDelete; // Redirect to the delete URL
        });
    </script>
}