@model WalletViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Wallet</h1>

<form method="post" enctype="multipart/form-data">

	<div class="card shadow border-0 mt-4">

		<div class="card-header bg-secondary bg-gradient text-light py-4">
			<div class="row">
				<div class="col-12 text-center">
					<h3 class="text-white text-uppercase"><b>Hi:</b> @Model.UserName</h3>
					<p class="text-white-50 fw-semibold mb-0"><b>Email:</b> @Model.Email</p>
				</div>
			</div>
		</div>

		<div class="card-body">
			<div class="py-3">

				<div class="row">

					<div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
						<img id="ProfilePicture" alt="profile" src="~/images/Wallet.png" width="100%" class="rounded img-fluid catlogo card-img"/>
					</div>

					<div class="col-12 col-lg-6 offset-lg-1">

						<div class="col-12 col-md-6 pb-4">
							<h6 class="text-dark text-opacity-50 ">
								<b>User:</b>
								<span class="halftab"> @(Model.FirstName + " " + Model.LastName)</span>
							</h6>
						</div>
						
						@if (@Model.WalletId != 0)
						{
							<div class="row ps-2">
								<h6 class="text-dark text-opacity-50 ">
									<b>Wallet Id:</b>
									<span class="halftab">@Model.WalletId</span>
								</h6>
							</div>

							<div class="row ps-2">
								<h6 class="text-dark text-opacity-50 ">
									<b>Credit Score:</b>
									<span class="halftab"> <b class="text-primary">@Model.Score Point</b> </span>
								</h6>
							</div>

							<div class="row ps-2">
								<h6 class="text-dark text-opacity-50 pb-2">
									<b>Status:</b>

									@{
										var CreditStatus = (@Model.IsDebts ? "Owed" : "Settled");
										var Style = (@CreditStatus == "Owed" ? "text-warning" : "text-info");
									}
									<span class="halftab"><b class="@Style">@CreditStatus</b></span>

								</h6>
							</div>

							<div class="row text-center ps-2">
								<div class="p-1 col-3 bg-white border-bottom">
									<div class="text-dark text-opacity-50 fw-semibold"><b>Wallet Amount</b></div>
								</div>
								<div class="p-1 col-3 col-lg-2 bg-white border-bottom">
									<div class="text-dark text-opacity-50 fw-semibold"><b>Is Debt</b></div>
								</div>
								<div class="p-1 col-3 bg-white border-bottom">
									<div class="text-dark text-opacity-50 fw-semibold"><b>Loan Amount</b></div>
								</div>
							</div>
						
							@if (@Model.IsDebts)
							{
								<div class="row text-center ps-2">
									<div class="p-1 col-3 bg-white text-danger fw-bold">
										<div>@((0).ToString("C2"))</div>
									</div>
									<div class="p-1 col-3 col-lg-2 bg-white text-danger fw-bold">
										<div>YES</div>
									</div>
									<div class="p-1 col-3 bg-white text-danger fw-bold">
										<div>@((Model.Amount).ToString("C2"))</div>
									</div>
								</div>
							}
							else
							{
								<div class="row text-center ps-2">
									<div class="p-1 col-3 bg-white text-success fw-bold">
										<div>@(Model.Amount.ToString("C2"))</div>
									</div>
									<div class="p-1 col-3 col-lg-2 bg-white text-success fw-bold">
										<div>NO</div>
									</div>
									<div class="p-1 col-3 bg-white text-success fw-bold">
										<div>@((0).ToString("C2"))</div>
									</div>
								</div>
							}
						}
						else
						{
							<div class="row ps-2">
								<h6 class="text-dark text-opacity-50 pb-2">
									<b>Status:</b>
									<span class="halftab"><b class="text-danger">Don't Have Wallet Yet</b></span>

								</h6>
							</div>
						}

						<div class="row pl-2 my-3">
							<h6 class="text-dark text-opacity-50"><b>Financial Advice: </b></h6>
							<br />
							<span class="tab">
								<p class="text-secondary lh-sm">planning for your retirement</p>
							</span>
						</div>
						
						@if (@Model.WalletId == 0)
						{
							<div class="row">
								<div class="col-12 col-md-6 pb-1">
									@* 									<button type="submit"
									        class="btn btn-primary bg-gradient  w-100 py-2 text-uppercase fw-semibold">
										Create A Wallet
									</button> *@
									<a asp-controller="Wallets" asp-action="CreateWallet" class="btn btn-warning bg-gradient  w-100 py-2 text-uppercase fw-semibold">Create A Wallet</a>
								</div>
							</div>
						}
						else
						{
							<div class="row">
								<div class="col-12 col-md-6 pb-1">
									<a asp-controller="Payments" asp-action="Plans" class="btn btn-primary bg-gradient  w-100 py-2 text-uppercase fw-semibold">Charge My Wallet</a>
								</div>
							</div>
						}

					</div>

				</div>
			</div>
		</div>

		<div class="card-footer">

			<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back To Home</a>
			<a asp-controller="Wallets" asp-action="Remove" asp-route-WalletId="@Model.WalletId" class="btn btn-danger float-end deleteWallet" data-path="@Url.Action("Remove", "Wallets", new { WalletId = @Model.WalletId })">Delete Wallet</a>

		</div>

	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<partial name="_DeleteWarningPartial"/>

	<script type="text/javascript">
		var pathToDelete;

		$(document).on("click", ".deleteWallet", function (e) {
			e.preventDefault();
			pathToDelete = $(this).data('path');
			$(".modal").modal('show');
		});

		// Handle delete confirmation button
		$("#btnContinueToDelete").click(function () {
			window.location.href = pathToDelete; // Redirect to the delete URL
		});

	</script>
}