@model IEnumerable<ApplicationUser>
@{
	ViewData["Title"] = "PickUser";
}

<div class="px-lg-5 mx-lg-5">

	<div class="container">
		<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">

			@foreach (var user in @Model)
			{
				<div class="col my-3">
					<div class="card radius-15 random-bg">
						<div class="card-body text-center">
							<div class="p-2 radius-15">
								@{
									var imgSrc = user.ProfilePic != null
										? $"data:image/*;base64,{Convert.ToBase64String(user.ProfilePic)}"
										: Url.Content("~/images/Default_img.png");

									var walletPoints = @user.Wallet == null ? "Didn't Have Wallet" : ($" {user.Wallet.Score} Points");
									var walletAmount = user.Wallet?.Amount ?? 0;
								}
								<img src="@imgSrc" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
								<h5 class="mb-2 mt-3 text-white">
									@(user.FirstName + " " + user.LastName)
								</h5>
								<p class="mb-0 text-white">@walletPoints</p>
								<p class="mb-3 text-white">$ @walletAmount</p>
								<p class="mb-3 text-white">@user.Email</p>

								<div class="d-grid div-Hover">
									<a asp-controller="Carts" asp-action="Summary" asp-route-userId="@user.Id" class="btn btn-dark radius-15">Select User</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			}

			<div class="col">
				<div class="card radius-15 bg-danger">
					<div class="card-body text-center">
						<div class="p-4 radius-15">
							<img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
							<h5 class="mb-0 mt-5 text-white">Pauline I. Bird</h5>
							<p class="mb-3 text-white">Webdeveloper</p>
							<div class="list-inline contacts-social mt-3 mb-3">
								<a href="javascript:;" class="list-inline-item border-0"><i class="bx bxl-facebook"></i></a>
								<a href="javascript:;" class="list-inline-item border-0"><i class="bx bxl-twitter"></i></a>
								<a href="javascript:;" class="list-inline-item border-0"><i class="bx bxl-linkedin"></i></a>
							</div>
							<div class="d-grid">
								<a href="#" class="btn btn-white radius-15">Contact Me</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card radius-15 bg-warning">
					<div class="card-body text-center">
						<div class="p-4 radius-15">
							<img src="https://bootdey.com/img/Content/avatar/avatar6.png" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
							<h5 class="mb-0 mt-5 text-dark">Pauline I. Bird</h5>
							<p class="mb-3 text-dark">Webdeveloper</p>
							<div class="list-inline contacts-social mt-3 mb-3">
								<a href="javascript:;" class="list-inline-item border-0"><i class="bx bxl-facebook"></i></a>
								<a href="javascript:;" class="list-inline-item border-0"><i class="bx bxl-twitter"></i></a>
								<a href="javascript:;" class="list-inline-item border-0"><i class="bx bxl-linkedin"></i></a>
							</div>
							<div class="d-grid">
								<a href="#" class="btn btn-white radius-15">Contact Me</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card radius-15 bg-info">
					<div class="card-body text-center">
						<div class="p-4 radius-15">
							<img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="">
							<h5 class="mb-0 mt-5 text-dark">Pauline I. Bird</h5>
							<p class="mb-3 text-dark">Webdeveloper</p>
							<div class="list-inline contacts-social mt-3 mb-3">
								<a href="javascript:;" class="list-inline-item border-0"><i class="bx bxl-facebook"></i></a>
								<a href="javascript:;" class="list-inline-item border-0"><i class="bx bxl-twitter"></i></a>
								<a href="javascript:;" class="list-inline-item border-0"><i class="bx bxl-linkedin"></i></a>
							</div>
							<div class="d-grid">
								<a href="#" class="btn btn-white radius-15">Contact Me</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<style>
	div.div-Hover {
		transition: transform 0.2s ease-in-out;
	}

	div.div-Hover:hover {
		transform: scale(1.08);
	}
</style>

@section Scripts
{
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">
	<link rel="stylesheet" href="~/css/pickuser.css" type="text/css" />

	<script>
		function applyRandomBg() {
			// Array of background color classes
			// const bgClasses = ['bg-x1', 'bg-x2', 'bg-x3', 'bg-x4', 'bg-x5', 'bg-x6'];
			const bgClasses = ['bg-x3', 'bg-x5', 'bg-x7', 'bg-x9', 'bg-x10'];

			// Get all elements with the 'random-bg' class
			const elements = document.querySelectorAll('.random-bg');

			elements.forEach((element) => {
				// Pick a random background class
				const randomClass = bgClasses[Math.floor(Math.random() * bgClasses.length)];

				// Assign the random class to the element
				element.classList.add(randomClass);
			});
		}

		// Run the function when the page loads
		document.addEventListener('DOMContentLoaded', applyRandomBg);
	</script>
}
